.div-center{
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    justify-content: flex-end;
}


.menu {
    margin: -27px;
    padding-top: 30px;
}

a{
    font-size: 14px;
    
}

.a-1{
    position: relative;
    padding-bottom: 20px;
    margin: 0 7px 0 7px;
}

.a-1::after{
    content: "";
    position: absolute;
    top: 46px;
    left: 0;
    height: 1px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}

.div-center-head{
    height: 200px;
    width: 300px;
    margin:20px 0 20px 20px;
}

.div-center-head1 {
    height: 200px;
    width: 300px;
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-center-head2 {
    height: 200px;
    width: 300px;
    margin: 20px 20px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.div-center-head div {
    width: 50px;
    height: 50px;
    background-color: red;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}



.first {
    display: flex;
    align-items: flex-end;
}

.head1{
    justify-content: space-evenly;
}


.p-1 {
    display: flex;
    flex-basis: 122rem;
    font-size: 12px;
    height: 134px;
    margin:20px 7px 20px 20px;
    font-weight: 500;
}

.p-2{
    font-size: 12px;
    height: 134px;
    margin:20px 0 20px 36px;
    font-weight: 500;
}
.p-3 {
    font-size: 12px;
    height: 134px;
    margin: 20px 33px 20px 10px;
    font-weight: 500;
}


.flex-part{
    height: 150px;
    width: 300px;
}

.flex-part div{
    width: 34px;
    height: 24px;
    background-color: red;
    border: 1px solid green;
}

.flex-1{
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 14px 10px 38px
}

.flex-1 div{
    margin-top: 20px;
}

.flex-2{
    flex-wrap: wrap;
    align-content: center;
    box-sizing: border-box;
    padding: 0 30px;
    flex-direction: row-reverse;
    margin: 0px 13px 10px 0px;
}

.flex-2 div{
    text-align: left;
}

.flex-3 {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
    padding: 36px 0 0 9px;
    justify-content: space-around;
}
.flex-3 div{
    width: 63px;
    height: 24px;
    background-color: red;
    border: 1px solid green;
}


.flex-3  .div-1{

}

.flex-3 .div-3{
    position: relative;
    top: 50px;
}

.flex-3 .div-2{
    position: relative;
    top: 25px;
}



.last {
    background-color: #D2D2D2;
    box-sizing: border-box;
    padding-left: 29px;
    border-left: 3px solid red;
}

.last h4{
    font-size: 20px;
    margin: 20px 0;
}

.last a img{
    width: 300px;
}

.last p{
    font-size: 12px;
    font-weight: 500;
}




.footer{
    box-sizing: border-box;
    padding:19px 0 1px 0;
}



.a-2{
    position: relative;
    
    padding-bottom: 20px;
    margin: 0 7px 0 7px;
}

.a-2::after{
    content: "";
    position: absolute;
    top:40px;
    left: 0;
    height: 1px;
    width: 200px;
    background-color: rgb(255, 255, 255);
}


